<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
    {% include "head.liquid" %}

    <!-- fediverse attribution -->
    <meta name="fediverse:creator" content="@AustinWise@mastodon.social">

    <!-- https://ogp.me/ -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.awise.us/{{ page.permalink }}" />
    <meta property="og:image" content="https://www.awise.us/Me.V4.jpg" />
</head>

<body>
    <div id="container">
        <header>
            Austin Wise
        </header>
        <main>
            <a class="homeLink" href="/">Go to home page</a>
            <hr />
            <div class="post">
                <span class="date">{{ page.published_date | date: "%Y-%m-%d" }}</span>
                <h2>{{ page.title }}</h2>
                {{ page.content }}
            </div>
        </main>
        <footer>
            {% include "footer.liquid" %}
        </footer>
    </div>

</body>

</html>